@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-dark-primary: #1b1d1f;
  --color-dark-secondary: #282b30;
  --color-blue-primary: #4e80ee;
  --color-gray-primary: #6c727f;
  --color-gray-secondary: #d2d5da;
}
